<h2 class="question">Interested in fast food?</h2>
<div class="col-md-6 col-xs-12 col-sm-6 answer" style="height:50vh; border: 1px dotted green;">
  <%= f.label :yes %>
  <%= f.check_box :Fastfood %>
</div>
<div class="col-md-6 col-xs-12 col-sm-6 answer" style="height:50vh; border: 1px dotted red;">
  <%= f.label :no %>
</div>
