<h2 class="question"><%=question%></h2>
<%
if responses.length == 2
  columnsize = "col-md-6 col-sm-6 col-xs-6 answer"
elsif responses.length == 3
  columnsize = "col-md-4 col-sm-4 col-xs-12 answer"
end
  %>
<% responses.each do |r| %>
<div class="<%= columnsize %> response">
  <%= f.label r %>
  <%= f.check_box r %>
</div>
<% end %>
<script>
$('.response').on('click', function(){
   var checkbox = $(this).children('input[type="checkbox"]');
   checkbox.prop('checked', !checkbox.prop('checked'));
});
</script>
